<div class="container mt-5">
    <div class="col-6 offset-3">
    <h2 class="mb-4 text-center">Travelers Data </h2>
          <div class="mb-3">
            <label for="name" class="form-label">Name:</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>

        <div class="mb-3">
            <label for="contact" class="form-label">Contact:</label>
            <input type="text" class="form-control" id="contact" name="contact" >
        </div>

        <div class="mb-3">
            <label for="email" class="form-label">Email ID:</label>
            <input type="email" class="form-control" id="email" name="email" >
        </div>

        <div class="mb-3">
            <label for="City" class="form-label">City:</label>
            <input class="form-control" id="cIty" name="city" />
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
</div>
</div>
