@model entityframework.Models.addstudentviewmodel
<body>
<form method="post" action="student">
    <div class="container" id="container">
       <div><h1 class="text-center mt-4" >Registration Form </h1></div>
    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" asp-for="Name" >
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Email</label>
        <input type="email" class="form-control" asp-for="Email">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Number</label>
        <input type="Number" class="form-control" asp-for="Number">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Country</label>
        <input type="text" class="form-control" asp-for="country">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Gender</label>
        <input type="text" class="form-control" asp-for="Gender">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
</body>