@model AgGridDynamic.Models.User
<div class="container">
    <div class="card">
        <div class="crad-header">
            <h1 class="text-center text-primary">Add User</h1>
        </div>
        <div class="card-body">
            <form method="post" asp-controller="Userlist" asp-action="Create">
                <div class="form-group mt-3">
                    <lable asp-for="Name">Name</lable>
                    <input type="text" asp-for="Name" class="form-control" placeholder="Enter Name" />
                    
                </div>
                <div class="form-group mt-3 ">
                    <lable asp-for="Email">Email</lable>
                    <input type="text" asp-for="Email" class="form-control" placeholder="Enter Email" />
                    
                </div>
                
                <div class="form-group mt-3">
                    <lable asp-for="City">City</lable>
                    <input type="text" asp-for="City" class="form-control" placeholder="Enter Address" />
                    
                </div>
                <div class="form-group mt-3">
                    <input type="submit" value="Submit" class="btn btn-sm btn-outline-success float-right" />
                </div>
            </form>
        </div>
    </div>
</div>


