<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    </head>
    

<body>
    <div class="container mt-4">
        <div class="card">
            <div class="row">
                <div class="col-md-4">
                    <img src="https://lnctuj.com/wp-content/uploads/2019/02/lakshmi-narain-college-of-technology-bhopal-logo-new.png" class="img-thumbnail" alt="clg logo">
                </div>
                <div class="col-md-8">
                    
                        <div class="row">
                            <div class="col">
                                <h1 class="text-center">LNCT UNIVERSITY BHOPAL(M.P)</h1>
                                <p class="text-center"><u>Incorporate Under Madhya Pradesh Act No. 4 of 2015 Vishwavidyalaya(sthapna avam sanchalan)adhiniyam of University Grant Commission(UGC)</u></p>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
    

    <div class="row">
        <div class="col">
        
            <h2 class="text-center">-STATEMENT OF PERFORMANCE-</h2>
            <p class="text-center"> MASTER Of COMPUTER APPLICATION, MAY-2023</p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <p>Enrollment No: LNCBMCA11046</p>
                <p>Student Name: Robina Khatun</p>
                <p>Father Name: Firoz Ansari</p>
                <p>Mother Name: Halima Khatun</p>
                <p>College Name: School of Computer Science and technology,Bhopal</p>
            </div>
        </div>
        
        <div class="row mt-4">
            <div class="col">
                
                <table class="table table-striped ">
                    <thead>
                        <tr>
                            <th>SUBJECT CODE</th>
                            <th>SUBJECT NAME</th>
                            <th>Maximum Marks</th>
                            <th>Pass Marks</th>
                            <th>Marks Awarded</th>
                        </tr>

                    </thead>
                    <tbody>
                        <tr>

                            <td>MCA-401</td>
                            <td>ARTIFICIAL INTELLIGENCE & ITS APPLICATION</td>
                            <td>100</td>
                            <td>33</td>
                            <td><input type="text" class="form-control" placeholder="" /></td>

                        </tr>
                        <tr>

                            <td>MCA-402</td>
                            <td>JAVA</td>
                            <td>100</td>
                            <td>33</td>
                            <td><input type="text" class="form-control" placeholder="" /></td>

                        </tr>
                        <tr>

                            <td>MCA-403</td>
                            <td>DSA</td>
                            <td>100</td>
                            <td>33</td>
                            <td><input type="text" class="form-control" placeholder="" td>

                        </tr>
                        <tr>

                            <td>MCA-404</td>
                            <td>CLOUD COMPUTING TECHNOLOGY</td>
                            <td>100</td>
                            <td>33</td>
                            <td><input type="text" class="form-control" placeholder="" /></td>


                        </tr>

                    </tbody>
                </table>

                <div class="container text-center">
                    <div class="row">
                        <div class="col">
                            Grand total:400
                        </div>
                        <div class="col">
                            total obtain mark:
                        </div>
                    </div>
                </div>
           </div>
           </div>
</div>

  
  

</body>
</html>
