<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Kendo UI Snippet</title>

    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/themes/7.0.2/default/default-ocean-blue.css" />
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2023.2.829/js/kendo.all.min.js"></script>
    <script src="https://unpkg.com/jszip/dist/jszip.min.js"></script>
    <style>

        #grid {
            background-color: black;
        }

        .k-grid-toolbar .k-grid-add {
            background-color: #007bff;
            color: #fff;
            border-color: #007bff;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-info">
        <div class="container">
            <a class="navbar-brand mx-auto" href="#">Student details</a>
        </div>
    </nav>

    <div id="grid"></div>
    <script>
        $("#grid").kendoGrid({
            dataSource: {
                transport: {
                    read: {
                        url: "/Home/StudentsList/",
                        dataType: "json"
                    }
                   


                },
                pageSize:10
               
            },
            columns: [
                // { field: "id", title: "ID", width: 200 },
                { field: "name", title: "Name" },
                { field: "age", title: "Age" },
                { field: "address", title: "Address" },
                { field: "email", title: "Email" },
                { field: "postalCode", title: "PostalCode" }
                
            ],
            toolbar: [ "excel"],
            

            excel: {
                fileName: "Kendo Grid.xlsx"
            },
            height: 500,
            scrollable: true,
            sortable: true,
            filterable: true,

            // editable: 'inline',
            pageable: {
                pageSize: 10
            }
        });
    </script>

</body>
</html>
