
<html>

<head>
    
    <meta charset="utf-8">
    <title>Bootstrap Registration Form</title>
</head>

<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4">
                <div class="card bg-dark text-light">
                    <h2 class="card-title text-light mt-3" align="center">Register Form</h2>
               
                    <hr class=" border position-relative " style="width: 70%; align-self: center; margin: 0px;">
                    <div class="card-body">
                        <form class="row g-3 mt-3 needs-validation" action="register.php" method="post" novalidate>
                            
                                <label for="enterfullname" class="form-label">Full Name</label>
                                <input type="text" class="form-control rounded-pill" name="full name" id="enterfulltname" value="" required>
                                <div class="invalid-feedback">
                                    Enter First Name !
                                </div>
                            
                            
                            
                            <label for="enteremail" class="form-label">Email</label>
                            <div class="input-group has-validation">
                                <input type="email" class="form-control rounded-pill" name="email" id="enteremail" aria-describedby="inputGroupPrepend" required>
                                <div class="invalid-feedback">
                                    Please Enter Valid Email.
                                </div>
                            </div>
                            <label for="enterphone" class="form-label">Mobile Number</label>
                            <div class="input-group has-validation">
                                <input type="numbers" class="form-control rounded-pill" name="mobile" id="enterphone" placeholder="Enter 10 digit" aria-describedby="inputGroupPrepend" required>
                                <div class="invalid-feedback">
                                    Please Enter Your Contact Number.
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="selectcity" class="form-label">City</label>
                                <input type="text" class="form-control rounded-pill" name="city" id="selectcity" required>
                                <div class="invalid-feedback">
                                    Please provide a valid city.
                                </div>
                            </div>
                            
                            <div class="col-md-6">
                                <label for="zip1" class="form-label">Zip</label>
                                <input type="text" class="form-control rounded-pill" name="zip" id="zip1" required>
                                <div class="invalid-feedback">
                                    Please provide a valid zip.
                                </div>
                            </div>
                            <label for="validationPassword">Password</label>
                            <input type="password" class="form-control rounded-pill" id="validationPassword" minlength="8" name="password" placeholder="Password" value="" required>
                            <label for="cpass">Confirm-Password</label>
                            <input type="password" class="form-control rounded-pill" id="cpass" minlength="8" name="cpassword" placeholder="Password" value="" required>
                            
                            <div class="col-md-12 text-center ">
                                <button class="btn btn-secondary" title="Submit Your Form" aria-label="Left Align" name="reg_user" type="submit"> <span class="fa fa-user-plus" aria-hidden="true"></span> Submit</button>
                            </div>
                           
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    </body>

</html>