<!DOCTYPE html>
<html lang="en">
<head>
    <title>Form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container__form forgot-password">
        <form action="#" class="form" id="forgotPasswordForm">
            <h2 class="form__title">Forgot Password</h2>
            <input type="email" placeholder="Enter your email" class="input" />
            <button class="btn">Reset Password</button>
        </form>
    </div>
<style>
        .forgot-password {
            left: 0;
            opacity: 0;
            width: 50%;
            z-index: 3; 
        }

        .app.swap .forgot-password {
            transform: translateX(100%);
            opacity: 0;
        }
</style>
</body>
</html>